---
import Visualizer from "../components/Visualizer.astro";
import Sidebar from "../components/Sidebar.astro";
import Instructions from "../components/Instructions.astro";
import "../styles/styles.css"; /* Import the CSS file */
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>3D Cube with Three.js</title>
    </head>
    <body>
        <Sidebar />
        <div id="content">
            <Visualizer />
        </div>
        <Instructions />
    </body>
</html>
