---
import Visualizer from "../components/Visualizer.astro";
import Sidebar from "../components/Sidebar.astro";
import Instructions from "../components/Instructions.astro";
import Citation from "../components/Citation.astro";
import CopyRight from "../components/Copyright.astro";
import "../styles/styles.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/liquiprism.png" />

        <title>Liquiprism</title>
    </head>
    <body>
        <Sidebar />
        <div id="content">
            <Visualizer />
        </div>
        <Instructions />
        <Citation />
        <CopyRight />
    </body>
</html>
