---
import "../styles/styles.css";
---

<div id="citation">
    <p>
        Dorin, Alan. "LiquiPrism: Generating polyrhythms with cellular
        automata." <i
            >Proceedings of the 2002 International Conference on Auditory
            Display, Kyoto, Japan, July 2.</i
        > Vol. 5. 2002.
    </p>
</div>
