---
import "../styles/styles.css";
---

<div id="instructions">
    <div class="arrow-keys">
        <div class="key-instruction">
            <div class="arrow-key up" id="arrow-up">↑</div>
        </div>
        <div class="key-instruction">
            <div class="arrow-key left" id="arrow-left">←</div>
            <div class="arrow-key down" id="arrow-down">↓</div>
            <div class="arrow-key right" id="arrow-right">→</div>
        </div>
    </div>
    <p>use the arrows to rotate</p>
</div>

<script>
    document.addEventListener("keydown", (event) => {
        const key = event.key;
        if (key === "ArrowUp") {
            const arrowUp = document.getElementById("arrow-up");
            if (arrowUp) {
                arrowUp.classList.add("active");
            }
        } else if (key === "ArrowDown") {
            const arrowDown = document.getElementById("arrow-down");
            if (arrowDown) {
                arrowDown.classList.add("active");
            }
        } else if (key === "ArrowLeft") {
            const arrowLeft = document.getElementById("arrow-left");
            if (arrowLeft) {
                arrowLeft.classList.add("active");
            }
        } else if (key === "ArrowRight") {
            const arrowRight = document.getElementById("arrow-right");
            if (arrowRight) {
                arrowRight.classList.add("active");
            }
        }
    });

    document.addEventListener("keyup", (event) => {
        const key = event.key;
        if (key === "ArrowUp") {
            const arrowUp = document.getElementById("arrow-up");
            if (arrowUp) {
                arrowUp.classList.remove("active");
            }
        } else if (key === "ArrowDown") {
            const arrowDown = document.getElementById("arrow-down");
            if (arrowDown) {
                arrowDown.classList.remove("active");
            }
        } else if (key === "ArrowLeft") {
            const arrowLeft = document.getElementById("arrow-left");
            if (arrowLeft) {
                arrowLeft.classList.remove("active");
            }
        } else if (key === "ArrowRight") {
            const arrowRight = document.getElementById("arrow-right");
            if (arrowRight) {
                arrowRight.classList.remove("active");
            }
        }
    });
</script>
