---
import "../styles/styles.css";
---

<div id="sidebar">
    <h1>Liquiprism (WIP)</h1>
    <div>
        <button id="togglePlay" class="play-button">play</button>
    </div>

    <label for="dimension">dimension:</label>
    <div class="slider-container">
        <span id="minValue">1</span>
        <input
            type="range"
            id="dimension"
            name="dimension"
            min="1"
            max="20"
            value="7"
            oninput="updateDimensionSliderValue(this)"
        />
        <span id="maxValue">20</span>
    </div>

    <label for="speed">speed:</label>
    <div class="slider-container">
        <span id="minValue">0.5x</span>
        <input
            type="range"
            id="speed"
            name="speed"
            min="0.5"
            max="5"
            value="1"
            oninput="updateSpeedSliderValue(this)"
        />
        <span id="maxValue">5x</span>
    </div>

    <div class="form-group">
        <label for="randomUpdateRate">random update rate:</label>
        <input
            type="checkbox"
            id="randomUpdateRate"
            name="randomUpdateRate"
            onchange="updateRandomUpdateRate(this)"
        />
    </div>

    <div id="legend">
        <table class="legend-table">
            <tr class="legend-item legend-header">
                <th>c</th>
                <th>r</th>
                <th>i</th>
                <th>m</th>
            </tr>
            <tr class="legend-item" id="legend-front">
                <td class="color-box"></td>
                <td class="update-rate">0</td>
                <td class="instrument">sine</td>
                <td>
                    <input
                        type="checkbox"
                        id="muteFace"
                        name="muteFace"
                        onchange="setMuteFace(this)"
                    />
                </td>
            </tr>
            <tr class="legend-item" id="legend-back">
                <td class="color-box"></td>
                <td class="update-rate">0</td>
                <td class="instrument">sine</td>
                <td>
                    <input
                        type="checkbox"
                        id="muteFace"
                        name="muteFace"
                        onchange="setMuteFace(this)"
                    />
                </td>
            </tr>
            <tr class="legend-item" id="legend-left">
                <td class="color-box"></td>
                <td class="update-rate">0</td>
                <td class="instrument">sine</td>
                <td>
                    <input
                        type="checkbox"
                        id="muteFace"
                        name="muteFace"
                        onchange="setMuteFace(this)"
                    />
                </td>
            </tr>
            <tr class="legend-item" id="legend-right">
                <td class="color-box"></td>
                <td class="update-rate">0</td>
                <td class="instrument">sine</td>
                <td>
                    <input
                        type="checkbox"
                        id="muteFace"
                        name="muteFace"
                        onchange="setMuteFace(this)"
                    />
                </td>
            </tr>
            <tr class="legend-item" id="legend-top">
                <td class="color-box"></td>
                <td class="update-rate">0</td>
                <td class="instrument">sine</td>
                <td>
                    <input
                        type="checkbox"
                        id="muteFace"
                        name="muteFace"
                        onchange="setMuteFace(this)"
                    />
                </td>
            </tr>
            <tr class="legend-item" id="legend-bottom">
                <td class="color-box"></td>
                <td class="update-rate">0</td>
                <td class="instrument">sine</td>
                <td>
                    <input
                        type="checkbox"
                        id="muteFace"
                        name="muteFace"
                        onchange="setMuteFace(this)"
                    />
                </td>
            </tr>
        </table>
    </div>
    <div class="explainer">
        <p>c: color</p>
        <p>r: update rate</p>
        <p>i: instrument</p>
        <p>m: mute</p>
    </div>
</div>

<script is:inline>
    let playing = false;

    function togglePlay() {
        playing = !playing;
        const button = document.getElementById("togglePlay");
        button.textContent = playing ? "pause" : "play";
        button.classList.toggle("playing");
        const event = new CustomEvent("togglePlay", {
            detail: { playing },
        });
        document.dispatchEvent(event);
    }

    document.getElementById("togglePlay").addEventListener("click", togglePlay);

    document.addEventListener("keydown", (e) => {
        if (e.code === "Space") {
            e.preventDefault();
            togglePlay();
        }
    });

    function updateDimensionSliderValue(slider) {
        slider.setAttribute("data-value", slider.value);
        const event = new CustomEvent("dimensionChange", {
            detail: { dimension: slider.value },
        });
        document.dispatchEvent(event);
    }

    function updateSpeedSliderValue(slider) {
        slider.setAttribute("data-value", slider.value);
        const event = new CustomEvent("speed", {
            detail: { speed: slider.value },
        });
        document.dispatchEvent(event);
    }

    function updateRandomUpdateRate(checkbox) {
        const event = new CustomEvent("randomUpdateRateChange", {
            detail: { randomUpdateRate: checkbox.checked },
        });
        document.dispatchEvent(event);
    }

    function setMuteFace(checkbox) {
        const facePosition = checkbox.parentElement.parentElement.id
            .split("-")[1]
            .toUpperCase();
        const event = new CustomEvent("setMuteFace", {
            detail: { facePosition, muted: checkbox.checked },
        });
        document.dispatchEvent(event);
    }

    document.addEventListener("DOMContentLoaded", () => {
        const slider = document.getElementById("dimension");
        if (slider instanceof HTMLInputElement) {
            updateDimensionSliderValue(slider);
        }
    });

    document.addEventListener("DOMContentLoaded", () => {
        const slider = document.getElementById("speed");
        if (slider instanceof HTMLInputElement) {
            updateSpeedSliderValue(slider);
        }
    });

    document.addEventListener("updateLegend", (event) => {
        const legendData = event.detail.legendData;
        legendData.forEach((face) => {
            const legendItem = document.getElementById(
                `legend-${face.position.toLowerCase()}`,
            );
            if (legendItem) {
                legendItem.querySelector(".color-box").style.backgroundColor =
                    face.color;
                legendItem.querySelector(".update-rate").textContent =
                    `${face.updateRate}`;
            }
        });
    });
</script>
